<div class="kraken-container">
  <!-- <div class="wave-6"> -->
    <%#= image_tag "wave6.svg" %>
  <!-- </div> -->
  <div class="wave-5">
    <%= image_tag "wave5.svg" %>
  </div>
  <div class="wave-4">
    <%= image_tag "wave4.svg" %>
  </div>

  <div class="kraken-asset">
    <%= image_tag "footer-kraken-asset.svg" %>
  </div>

  <div class="wave-3">
    <%= image_tag "wave3.svg" %>
  </div>
  <div class="wave-2">
    <%= image_tag "wave2.svg" %>
  </div>
  <div class="wave-1">
    <%= image_tag "wave1.svg" %>
  </div>
</div>
