



<div class="row partial-section text-image-container">
    <div class="col-xs-12 col-md-4">
        <h3><%= @textImage[:title] %></h3>
        <p><%= @textImage[:paragraph] %></p>
    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-2 image-container">
        <%= image_tag ("gold-dubloon"), class: "card-image", id: "first-card"  %>
        <%= image_tag ("bombs-away"), class: "card-image" , id: "second-card" %>
        <%= image_tag ("emerald"), class: "card-image" , id: "third-card" %>
    </div>

</div>
